/* CSS HEX */
--space-cadet: #21295cff;
--dark-cornflower-blue: #1b3b6fff;
--shadow-blue: #6888a1ff;
--fuzzy-wuzzy: #c1666bff;
--grullo: #aca69aff;
--platinum: #dde4deff;

/* CSS HSL */
--space-cadet: hsla(232, 47%, 25%, 1);
--dark-cornflower-blue: hsla(217, 61%, 27%, 1);
--shadow-blue: hsla(206, 23%, 52%, 1);
--fuzzy-wuzzy: hsla(357, 42%, 58%, 1);
--grullo: hsla(40, 10%, 64%, 1);
--platinum: hsla(129, 11%, 88%, 1);

/* SCSS HEX */
$space-cadet: #21295cff;
$dark-cornflower-blue: #1b3b6fff;
$shadow-blue: #6888a1ff;
$fuzzy-wuzzy: #c1666bff;
$grullo: #aca69aff;
$platinum: #dde4deff;

/* SCSS HSL */
$space-cadet: hsla(232, 47%, 25%, 1);
$dark-cornflower-blue: hsla(217, 61%, 27%, 1);
$shadow-blue: hsla(206, 23%, 52%, 1);
$fuzzy-wuzzy: hsla(357, 42%, 58%, 1);
$grullo: hsla(40, 10%, 64%, 1);
$platinum: hsla(129, 11%, 88%, 1);

/* SCSS RGB */
$space-cadet: rgba(33, 41, 92, 1);
$dark-cornflower-blue: rgba(27, 59, 111, 1);
$shadow-blue: rgba(104, 136, 161, 1);
$fuzzy-wuzzy: rgba(193, 102, 107, 1);
$grullo: rgba(172, 166, 154, 1);
$platinum: rgba(221, 228, 222, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-right: linear-gradient(90deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-bottom: linear-gradient(180deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-left: linear-gradient(270deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-top-right: linear-gradient(45deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-bottom-right: linear-gradient(135deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-top-left: linear-gradient(225deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-bottom-left: linear-gradient(315deg, #21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);
$gradient-radial: radial-gradient(#21295cff, #1b3b6fff, #6888a1ff, #c1666bff, #aca69aff, #dde4deff);